/* ---------------------------------------------------------------------------------------------
                                              Fonts 
------------------------------------------------------------------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

/* ---------------------------------------------------------------------------------------------
                                        Common Styles
------------------------------------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #553D67;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    
    width: 1350px;
    margin-top: 50px;
    margin-bottom: 80px;
    /* padding: 30px; */
}

/* ---------------------------------------------------------------------------------------------
                                        Banner styles
------------------------------------------------------------------------------------------------ */

.banner{
    width: 100%;
    height: 710px;
    /* background-color: #659DBD; */
    background-color: #99738E;
    padding: 50px;
    border-radius: 30px;
    display: flex;
}
.left-banner{
    width: 50%;
}
.banner-title{
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    margin-top: 111px;
    margin-bottom: 20px;
}
.banner-text{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.banner-button{
    border: 0;
    background-color: #E27D60;
    width: 187px;
    height: 56px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
}
.right-banner{
    width: 50%;
}
.banner-img{
    width: 100%;
}

/* ---------------------------------------------------------------------------------------------
                                        Blogs styles
------------------------------------------------------------------------------------------------ */
.middle-part{
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-column-gap: 24px;
}
.middle-left{
    height: 312px;
    width: 312px;
    background-color: #99738E;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.normal-anchor{
    height: 64px;
    width: 252px;
    margin-top: 30px;
    text-decoration: none;
    background-color: rgb(196, 187, 187);
    color: #161616;
    font-size: 20px;
    font-weight: 500;
   
    border-radius: 10px;
    padding: 20px;
}
.highlighted-anchor{
    height: 64px;
    width: 252px;
    margin-top: 30px;
    text-decoration: none;
    background-color: #E27D60;
    color: #161616;
    font-size: 20px;
    font-weight: 500;
   
    border-radius: 10px;
    padding: 20px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}



.blog{
    border: 1px solid #161616;
    width: 312px;
    height: 362px;
    border-radius: 10px;
}
.blog-image{
    height: 175px;
    width: 100%;
}
.transfer{
    width: 100px;
    margin-top: 24px;
    margin-bottom: 19px;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 4px 17px;
    margin-left: 20px;
}
.blog-text{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #161616;
    padding-right: 20px;
}
.blog-info{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    padding-left: 20px;
}
.fa-clock{
    color: rgba(22, 22, 22, 0.7);
}
.blog-info span{
    color: rgba(22, 22, 22, 0.7);
    margin-left: 3px;
}
.fa-comment-dots{
    height: 24px;
    width: 24px;
    color: rgba(22, 22, 22, 0.7);
}


/* ---------------------------------------------------------------------------------------------
                                        Footer styles
------------------------------------------------------------------------------------------------ */
.footer-container{
    width: 100%;
    height: 444px;
    background-color: #99738E;
}
.footer-top{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-top h1{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
}
.footer-mid{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.footer-mid hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 87%;
}
.footer-anchor-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.anchor{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-anchor-container a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    
}
.clickable{
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.clickable a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #B9B9B9;
}

/* ---------------------------------------------------------------------------------------------
                                        Media Queries
------------------------------------------------------------------------------------------------ */

@media only screen and (min-width:1056px) and (max-width:1355px) {
    
    .container{
        width: 90%;
    }
    .blogs {
            grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width:1049px) and (max-width:1055px) {
    .container {
            width: 90%;
    }
    .middle-part {
            display: flex;
            flex-direction: column;

    }
    .middle-left {
            background-color: #553D67;
            
            width: 100%;
            
            border-radius: 10px;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    }
    .normal-anchor{
            margin: 0;
    }
    .highlighted-anchor{
            margin: 0;
    }

    .blogs{
            
            grid-template-columns: repeat(3,1fr);
            
    }
    
}

@media only screen and (min-width:698px) and (max-width:1048px) {
    .container {
            width: 90%;
    }
    .banner{
        height: 500px;
        margin-bottom: 0;
    }
    .banner-title{
        font-size: 33px;
    }


    
    .middle-part {
            display: flex;
            flex-direction: column;
    
    }
    
    .middle-left {
        background-color: #553D67;
        height: 100px;
        width: 100%;
        margin-bottom: 30px;
    
        border-radius: 10px;
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        
    }
    
    .normal-anchor {
        margin: 0;
        width: 200px;
    }
    
    .highlighted-anchor {
        margin: 0;
        width: 200px;
            
    }
    
    .blogs {
        width: 100%;
    
        grid-template-columns: repeat(2, 1fr);
        
    
    }
    .anchor{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .anchor a{
        margin-left: 10px;
    }
    
}